table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#addRowBtn, #submit {
    margin-top: 10px;
    display: inline-block;
}

.autocomplete {
    width: 100%;
}
